body {
    /* background-color:#F8F8F8; */
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}

.topbar {
    height: 150px;
    background-color: #228D9F;
}

.topbar__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 640px;
    height: 100%;
    margin: 0 auto;
}

.topbar__logo {
    height: 42px;
}

.topbar__title {
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.form {
    width: 640px;
    margin: 0 auto;
}

.form__count-row {
    margin-top: 135px;
    display: flex;
    justify-content: space-around;
}

.form__count {
    width: 150px;
    height: 150px;
    border: 1px solid #E7F1F4;
    border-radius: 5px;
    font-size: 80px;
    text-align: center;
    line-height: 150px;
    color: #535E68;
    font-weight: 100;
}

.form__button-row {
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
}

.form-button {
    width: 150px;
}

.form-button button {
    width: 100%;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.form-button__image {
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.form-button__caption {
    text-align: center;
    color: #44505C;
    font-weight: bold;
}
